body{background:#0f0f0f;color:white;font-family:sans-serif;margin:0}
.header{display:flex;justify-content:space-between;padding:15px 25px;background:#1c1c1c}
button{background:#ff2e63;border:none;color:white;padding:10px 15px;border-radius:8px}
.card{background:#1c1c1c;padding:20px;margin:15px;border-radius:14px;text-align:center}
.grid{display:flex;flex-wrap:wrap;justify-content:center}
.center{margin-top:120px;text-align:center}
.centerMsg{text-align:center;margin:20px;font-size:18px}
.hidden{display:none}
.stats{display:flex;justify-content:center;flex-wrap:wrap}
.stats .card{width:180px;margin:10px}

