body{background:#000;color:white;font-family:sans-serif;margin:0}
.video-bg iframe{position:fixed;width:100%;height:100%;opacity:0.12;z-index:-1}

.header{display:flex;justify-content:space-between;padding:15px;background:#111}

.layout{display:flex;flex-wrap:wrap;padding:10px}
.leftPanel{flex:2}
.rightPanel{flex:1}
.prize{text-align:center;background:#ff2e63;color:white}
.prize h1{font-size:36px;margin:10px 0}

.card{background:#1c1c1c;margin:15px;padding:20px;border-radius:14px;box-shadow:0 0 15px #000}
.smallChart{max-width:700px}

input{background:#2a2a2a;color:white;padding:10px;margin:6px;border:none;border-radius:8px;width:100%}
button{background:#ff2e63;border:none;color:white;padding:10px;border-radius:8px;cursor:pointer}
button:hover{transform:scale(1.05)}

table{width:100%;border-collapse:collapse}
th,td{padding:8px;text-align:center}
th{background:#ff2e63}

@media(max-width:768px){
.layout{flex-direction:column}
}
